<ion-content role="feed">
<ion-card>
  <ion-card-header>
    <ion-card-title>Black Myth Wukong</ion-card-title>
    <img alt="..." src="assets/img/blackmyth.jpg" height="250" width="400">
  </ion-card-header>

  <ion-card-content>
    Black Myth: Wukong é um RPG de ação inspirado na mitologia chinesa. Você assume o papel do Predestinado e tem a responsabilidade de encarar os desafios e as maravilhas do mundo para desvendar a verdade obscura por trás de uma lenda gloriosa do passado.  </ion-card-content>

  <ion-button fill="clear">Análise do Jogo</ion-button>
  <ion-button fill="clear">Sobre o Jogo</ion-button>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>GTA V</ion-card-title>
    <img alt="..." src="assets/img/gta5.webp" height="250" width="400">
  </ion-card-header>

  <ion-card-content>
    Quando um tratante inexperiente, um ladrão de bancos aposentado e um psicopata aterrorizante se envolvem com algumas das figuras mais assustadoras e problemáticas do submundo do crime, do governo dos EUA e da indústria do entretenimento, eles precisam realizar uma série de golpes ousados para sobreviver em uma cidade implacável onde não podem confiar em ninguém, nem mesmo um no outro.  </ion-card-content>

  <ion-button fill="clear">Análise do Jogo</ion-button>
  <ion-button fill="clear">Sobre o Jogo</ion-button>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>CS 2</ion-card-title>
    <img alt="..." src="assets/img/cs2.png" height="250" width="400">
  </ion-card-header>

  <ion-card-content>
    Há mais de duas décadas o Counter-Strike oferece uma experiência competitiva de elite moldada por milhões de jogadores mundialmente. Agora, o próximo capítulo da história do CS vai começar. Isso é Counter-Strike 2.  </ion-card-content>

  <ion-button fill="clear">Análise do Jogo</ion-button>
  <ion-button fill="clear">Sobre o Jogo</ion-button>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Elder Ring</ion-card-title>
    <img alt="..." src="assets/img/elderring.avif" height="250" width="400">
  </ion-card-header>

  <ion-card-content>
    O NOVO RPG DE AÇÃO E FANTASIA. Levante-se, Maculado, e seja guiado pela graça para portar o poder do Anel Prístino e se tornar um Lorde Prístino nas Terras Intermédias.  </ion-card-content>

  <ion-button fill="clear">Análise do Jogo</ion-button>
  <ion-button fill="clear">Sobre o Jogo</ion-button>
</ion-card>
</ion-content>
